# ==========================================
# CONFIGURACIÓN DE CONEXIÓN A BASE DE DATOS ORACLE
# ==========================================

# Puerto del servidor Backend
PORT=3001

# Credenciales de Oracle DB
ORACLE_USER=SYSTEM
ORACLE_PASSWORD=oracle
ORACLE_CONNECT_STRING=localhost:1521/XEPDB1

# Modo de conexión: 'thin' (recomendado, sin cliente oracle externo) o 'thick'
ORACLE_MODE=thin
