# ==========================================
# CONFIGURACIÓN DE CONEXIÓN A BASE DE DATOS ORACLE
# ==========================================

# Puerto del servidor Backend
PORT=3001

# Credenciales de Oracle DB
ORACLE_USER=SYSTEM
ORACLE_PASSWORD=oracle
ORACLE_CONNECT_STRING=127.0.0.1:1521/XEPDB1

# Modo de conexión: 'thin' (recomendado, sin cliente oracle externo) o 'thick'
ORACLE_MODE=thin

# Nombre de la tabla de caídas/incidentes en Oracle (por defecto EVENTOS_DOWNTIME o ESQUEMA.NOMBRE_TABLA)
ORACLE_TABLE_NAME=EVENTOS_DOWNTIME

# Nombre de la tabla de enlaces de red en Oracle (por defecto EVENTOS_REDES o ESQUEMA.NOMBRE_TABLA)
ORACLE_REDES_TABLE_NAME=EVENTOS_REDES
